/* @import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");


body {
    background-image: url("https://images.unsplash.com/photo-1516721951823-4f214c97eb4d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    background: radial-gradient(circle, #F48FB1 0%,  #CE93D8 20%, #B2EBF2 40%, #A5D6A7 60%, #B39DDB 100%);
    animation: gradient 30s linear infinite alternate;
    color: transparent;
    background-size: 400%;
    /* font-family: 'Oleo Script', cursive; */
    font-family: 'STIX Two Math', serif;
   
    font-size: 100px;
    font-weight: 100;
    -webkit-background-clip: text;
   
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 2rem;
        padding-left: 1rem;
        
    }
}
